@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #353839;
}

.h1 {
  font-size: 50px;
  font-family: "Comfortaa", cursive;
}

.h2 {
  font-size: 30px;
  font-family: "Comfortaa", cursive;
}

.h3 {
  font-size: 18px;
  font-family: "Comfortaa", cursive;
}