//links:
@use "abstracts/variables" as *;

.link {
  color: $color-white; 
  text-decoration: none;

  &--icon {
    color: $color-black;
  }
}

.link:hover {
  color: $color-black;
  text-decoration: none;
  transform: scale(1.2);
}

.link--icon:hover {
  color: $color-white;
  transform: scale(1.2);
}

.link--codewars:hover {
  color: $color-black;
}

//buttons:
.button {
  background-color: $color-pink;
  border-radius: 10px;
  color: $color-black;
  display: inline-block;
  font-size: 20px;
  margin: auto;
  padding: 10px;
  text-align: center;

  &--header {
    margin-top: 50px;
  }

  &--projects {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
  } 
}

//screenshots: 

.projects__screenshot {
  border: 3px solid $color-sky-blue;
}