
//nav: 

.nav {
  align-items: center;
  background-color: $color-dark-blue;
  display: flex;
  height: 50px;
  justify-content: space-between;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &__link {
    padding-left: 10px;
    padding-right: 10px;
  }
}

//header:

.header {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;

  * {
    margin-bottom: 10px;
  }
  
  &__titles {
    padding: 100px 20px 0 0;
    text-align: right;
  }

  &__balloon-img {
    left: 20px;
    position: absolute;
    top: 70px;
  }

  &__cloud-img {
    display: none;
  }
  
  &__bike-img {
  bottom: 4%;
  left: 1%;
  position: absolute;
  transform: rotate(-18deg);
  width: 20%;
  z-index: 1;
  }

  &__wave-img {
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 760px) {
  .header {
    
    &__bike-img {
    bottom: 8%;
    transform: rotate(-15deg);
    width: 10%;
    }

    &__cloud-img {
      display: inline;
      position: absolute;
    }
  }

  #cloud1 {
    top: 30px;
    right: 40%;
  }

  #cloud2 {
    top: 90px;
    right: 35%;
  }

  #cloud3 {
    top: 80px;
    right: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__wave-img {
      height: 30%;
    }
  }
}

// icons
.icon {
  margin-left: 5px;
}

//main grid:

.main-container {
  display: grid;
}

//projects:

.projects {
  height: 95vh;
  padding-bottom: 100px;
  position: relative;
  
  * {
  text-align: center;
  }

  &__container {
  margin-bottom: 40px;
  }

  &__screenshot {
    display: block;
    height: 180px;
    margin: 30px auto 20px auto;
    width: 70%;
  }

  &__description {
    height: 70px;
    margin: 10px auto 10px auto;
    width: 80%;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__see-more {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__road-img {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  &__bike-img {
    bottom: 3%;
    left: 10px;
    position: absolute;
    transform: scaleX(-1);
    width: 20%;
    z-index: 1;
    }
}

#project2, #project3, #project4 {
  display: none;
  // to add scroll for mobile view with JS
}

@media screen and (min-width: 760px) {
  #project2, #project3, #project4 {
    display: block;
  }
  
  .projects {
    height: auto;
    
    &__arrows {
      display: none;
    }
    
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__bike-img {
      bottom: 3%;
      width: 10%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__bike-img {
      bottom: 7%;
    }
  }

  #project4 {
    display: none;
    // scroll to be added in JS
  } 
}

.about {
  padding-bottom: 70px;
  text-align: center;
  
  &__text {
    line-height: 1.8;
    margin: 10px auto 0 auto;
    width: 70%;
  }

  &__icons {
    padding: 10px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 760px) {
  .about {
    &__text {
      width: 50%;
    }
  }
}

.contact {
  position: relative;
  text-align: center;

  &__wave-container {
    background-color: $color-sand;
    position: relative;
  }
  
  &__wave-img {
    display: block;
    width: 100%
  }

  &__SUP-img {
    position: absolute;
    top: 15px;
    right: 50px;
  }

  &__text {
    background-color: $sea-blue;
  }

  &__icons {
    padding-bottom: 50px;
    padding-top: 20px;
  }

}







