@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.h1 {
  font-size: 50px;
  font-family: "Comfortaa", cursive;
}

.h2 {
  font-size: 30px;
  font-family: "Comfortaa", cursive;
}

.h3 {
  font-size: 18px;
  font-family: "Comfortaa", cursive;
}

.h2, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
  color: #f5f5f5;
  text-decoration: none;
}

.link:hover {
  color: #353839;
  text-decoration: none;
}

.icon {
  color: #353839;
}

.button {
  background-color: #ea5267;
  border-radius: 10px;
  color: #353839;
  display: inline-block;
  font-size: 20px;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.button--header {
  margin-top: 50px;
}
.button--projects {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
}

.projects__screenshot {
  border: 3px solid #67a8ec;
}

.nav {
  align-items: center;
  background-color: #1d61af;
  display: flex;
  height: 50px;
  justify-content: space-between;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.nav__link {
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  height: 100vh;
  text-align: center;
  width: 100%;
}
.header * {
  margin-bottom: 10px;
}
.header__titles {
  padding: 100px 20px 0 0;
  text-align: right;
}
.header__balloon-img {
  left: 20px;
  position: absolute;
  top: 70px;
}
.header__bike-img {
  bottom: 2%;
  left: 1%;
  position: absolute;
  transform: rotate(-10deg);
  width: 20%;
  z-index: 1;
}
.header__wave-img {
  bottom: 0;
  height: 20%;
  left: 0;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
}

@media screen and (min-width: 760px) {
  .header__bike-img {
    transform: rotate(-5deg);
    width: 10%;
  }
}
.icon {
  margin-left: 5px;
}

.main-container {
  display: grid;
}

.projects {
  height: 95vh;
  padding-bottom: 100px;
  position: relative;
}
.projects * {
  text-align: center;
}
.projects__screenshot {
  display: block;
  margin: 30px auto 20px auto;
  width: 70%;
}
.projects__description {
  height: 70px;
  margin: 10px auto 10px auto;
  width: 80%;
}
.projects__buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.projects__road-img {
  bottom: 0px;
  position: absolute;
  width: 100%;
}
.projects__bike-img {
  bottom: 3%;
  left: 10px;
  position: absolute;
  transform: scaleX(-1);
  width: 20%;
  z-index: 1;
}

#project2, #project3, #project4 {
  display: none;
}

@media screen and (min-width: 760px) {
  #project2, #project3, #project4 {
    display: block;
  }

  .projects {
    height: auto;
  }
  .projects__arrows {
    display: none;
  }
  .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .projects__bike-img {
    width: 10%;
  }
}
@media screen and (min-width: 1200px) {
  .projects__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .projects__bike-img {
    bottom: 7%;
  }

  #project4 {
    display: none;
  }
}
.header {
  background: linear-gradient(#67a8ec, rgba(103, 168, 236, 0.5));
  background-repeat: no-repeat;
  height: 100vh;
}

.projects {
  background: linear-gradient(#77c07a, rgba(250, 250, 250, 0.5));
}