.header {
  background: linear-gradient($color-sky-blue, $color-blue-fade);
  background-repeat: no-repeat;
}

.projects {
  background: linear-gradient($color-green, $color-white-fade 95%, $color-sand);
}

.about {
  background-color: $color-sand;
  background-image: url(./images/footprints.png);
  background-repeat: no-repeat;
  background-position: 90% 10%;
}

