.header {
  background: linear-gradient($color-sky-blue, $color-blue-fade);
  background-repeat: no-repeat;
  height: 100vh;
}

.projects {
  background: linear-gradient($color-green, $color-white-fade);
}