@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans&display=swap');

//font variables:
$font-main: 'Noto Sans', sans-serif;
$font-display: 'Comfortaa', cursive;

// color variables:
$color-black: #353839;
$color-blue-fade: rgba(103, 168, 236, 0.5);
$color-dark-blue: #1d61af;
$color-green: #77c07a;
$color-pink: #ea5267;
$color-sky-blue: #67a8ec;
$color-white: #f5f5f5;
$color-white-fade: rgba(250, 250, 250, 0.5);