@use "./variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans&display=swap');

// global resets:
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font-rules:
body {
  font-family: $font-main;
  color: $color-black;
}

.h1 {
  font-size: 50px;
  font-family: $font-display;
}

.h2 {
  font-size: 30px;
  font-family: $font-display;
}

.h3 {
  font-size: 18px;
  font-family: $font-display;
}

.h4 {
  font-size: 14px;
  font-family: $font-display;
}

