//links:
@use "./variables" as *;

.link {
  color: $color-white; 
  text-decoration: none;

  &--icon {
    color: $color-black;
  }
}

.link:hover {
  color: $color-black;
  text-decoration: none;
  transform: scale(1.2);
}

.link--icon:hover {
  color: $color-white;
  transform: scale(1.2);
}

//buttons:
.button {
  background-color: $color-pink;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: $color-black;
  display: inline-block;
  margin: auto;
  padding: 10px;
  text-align: center;

  &--header {
    margin-top: 50px;
  }

  &--projects {
    font-size: 0.8em;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
  } 
}

//nav buttons:active
.nav__button {
  background-color: inherit;
  border: none;
}

.nav__close > i {
  color: $color-white;
}

.header__nav--open {
  font-size: larger;
}

//screenshots: 

.projects__screenshot {
  border: 3px solid $color-sky-blue;
}

.arrow {
  background-color: inherit;
  border: none;
  padding: 5px;
}