@use "./variables" as *;

//nav: 
.nav {
  align-items: center;
  background-color: $color-dark-blue;
  display: flex;
  font-size: 0.8rem;
  height: 40px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &__link {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// media queries for nav:
@media screen and (min-width: 768px) {
  .nav {
    font-size: inherit;
  }
}
//header:

.header {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  
  &__titles {
    margin-bottom: 20px;
    padding: 100px 30px 0 0;
    text-align: right;
  }

  &__balloon-img {
    left: 30px;
    position: absolute;
    top: 80px;
  }

  &__cloud-img {
    display: none;
    // hidden on mobile view
  }
  
  &__bike-img {
    bottom: 4%;
    left: 1%;
    position: absolute;
    transform: rotate(-18deg);
    width: 20%;
    z-index: 1;
  }

  &__trees-img {
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 100px;
  }

  &__wave-img {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    
    &__titles {
      line-height: 1.3;
      margin-bottom: 70px;
    }
    
    &__wave-img {
      height: 30%;
    }
    
    &__bike-img {
    bottom: 6%;
    transform: rotate(-15deg);
    width: 10%;
    }

    &__cloud-img {
      display: inline;
      position: absolute;
    }

    &__trees-img {
      bottom: 10%;
      width: 150px;
    }
  }

  #cloud1 {
    top: 35px;
    right: 50%;
  }

  #cloud2 {
    top: 95px;
    right: 40%;
  }

  #cloud3 {
    top: 60px;
    right: 32%;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    &__wave-img {
      height: 30%;
    }
  }
}

// icons
.icon {
  margin-left: 5px;
}

//projects:

.projects {
  padding-bottom: 100px;
  padding-top: 50px;
  position: relative;
  
  * {
    text-align: center;
  }

  &__screenshot {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: block;
    height: 120px;
    margin: 30px auto 20px auto;
  }

  &__description {
    height: 70px;
    margin: 10px auto 10px auto;
    width: 70%;
  }

  &__icons {
    font-size: larger;
  }
  
  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__arrows {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &__displayOnTabletUp {
    display: none;
  }
  
  &__road-img {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  
  &__card--md {
    display: none;
  }
}

#project2, #project3, #project4, #project5, #project6 {
  display: none;
}

@media screen and (min-width: 700px) {
  .projects {
    &__road-img {
      bottom: -10px;
    }
  }
}

@media screen and (min-width: 768px) {
  #project2, #project3, #project4, #project5, #project6 {
    display: block;
  }
  
  .projects {
    height: auto;
    padding-bottom: 150px;
    
    &__card--md {
      display: block;
    }
    
    &__arrows {
      display: none;
    }
    
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__displayOnTabletUp {
      display: block;
    }

    &__displayOnPhone {
      display: none;
    }
    
    &__-img {
      bottom: 3%;
      width: 10%;
    }
  }
}

@media screen and (min-width: 1280px) {
  .projects {
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__bike-img {
      bottom: 7%;
    }

    &__card--md {
      display: none;
    }
    
    &__card--lg {
      display: block;
    }
  }
}

.about {
  padding-bottom: 70px;
  padding-top: 50px;
  text-align: center;

  &__text {
    line-height: 1.8;
    margin: 10px auto 0 auto;
    width: 70%;
  }

  &__icons {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
  }
  
  &__icon {
    font-size: larger;
    padding: 10px;
  }

  &__skill {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 760px) {
  .about {
    &__text {
      width: 50%;
    }
  }
}

.contact {
  position: relative;
  text-align: center;

  &__wave-container {
    background-color: $color-sand;
    position: relative;
  }
  
  &__wave-img {
    display: block;
    width: 100%
  }

  &__SUP-img {
    position: absolute;
    top: 15px;
    right: 50px;
  }

  &__h2 {
    padding: 20px;
  }
  
  &__text {
    background-color: $sea-blue;
  }

  &__icons {
    padding-bottom: 50px;
    padding-top: 20px;
  }

}
