@use "./variables" as *;

//nav: 

.nav {
  align-items: center;
  background-color: $color-dark-blue;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &__link {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__content {
    align-items: center;
    display: flex;
  }

  &__close {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;

    &--close {
      display: none;
    }
  }

  .header__nav--open {
    display: none;
  }
}

//header:

.header {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;

  &__nav--open {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
  
  &__titles {
    padding: 100px 20px 0 0;
    text-align: right;
  }

  &__titles > * {
    margin-bottom: 10px;
  }

  &__balloon-img {
    left: 20px;
    position: absolute;
    top: 80px;
  }

  &__cloud-img {
    display: none;
    // hidden on mobile view
  }
  
  &__bike-img {
    bottom: 4%;
    left: 1%;
    position: absolute;
    transform: rotate(-18deg);
    width: 20%;
    z-index: 1;
  }

  &__trees-img {
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 100px;
  }

  &__wave-img {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

// @media screen and (min-width: 500px) {
//   .header__trees-img {
//     bottom: 10%;
//   }
// }

// @media screen and (min-width: 600px) {
//   .header__trees-img {
//     bottom: 10%;
//     width: 150px;
//   }
// }

@media screen and (min-width: 768px) {
  .header {
    
    &__wave-img {
      height: 30%;
    }
    
    &__bike-img {
    bottom: 6%;
    transform: rotate(-15deg);
    width: 10%;
    }

    &__cloud-img {
      display: inline;
      position: absolute;
    }

    &__trees-img {
      bottom: 10%;
      width: 150px;
    }
  }

  #cloud1 {
    top: 35px;
    right: 40%;
  }

  #cloud2 {
    top: 95px;
    right: 35%;
  }

  #cloud3 {
    top: 85px;
    right: 30%;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    &__wave-img {
      height: 30%;
    }
  }
}

// icons
.icon {
  margin-left: 5px;
}

//projects:

.projects {
  padding-bottom: 100px;
  padding-top: 50px;
  position: relative;
  
  * {
    text-align: center;
  }

  &__container {
    margin-bottom: 40px;
  }

  &__screenshot {
    display: block;
    margin: 30px auto 20px auto;
    height: 200px;
    width: 70%;
  }

  &__description {
    height: 70px;
    margin: 10px auto 10px auto;
    width: 70%;
  }

  &__icons {
    font-size: larger;
  }
  
  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__see-more {
    // add in when using JS to display more
    display: none;
    // align-items: center;
    // display: flex;
    // justify-content: center;
  }

  &__road-img {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  
  &__card--md {
    display: none;
  }
}

#project2, #project3, #project4, #project5 {
  display: none;
}

@media screen and (min-width: 768px) {
  #project2, #project3, #project4, #project5 {
    display: block;
  }
  
  .projects {
    height: auto;
    padding-bottom: 150px;
    
    &__card--md {
      display: block;
    }
    
    &__arrows {
      display: none;
    }
    
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__bike-img {
      bottom: 3%;
      width: 10%;
    }
  }
}

@media screen and (min-width: 1280px) {
  .projects {
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__bike-img {
      bottom: 7%;
    }

    &__card--md {
      display: none;
    }
    
    &__card--lg {
      display: block;
    }
  }

  // #project4 {
  //   display: none;
  //   // scroll to be added in JS
  // } 
}

.about {
  padding-bottom: 70px;
  text-align: center;
  
  &__h2 {
    margin-top: 50px;
  }

  &__text {
    line-height: 1.8;
    margin: 10px auto 0 auto;
    width: 70%;
  }

  &__icons {
    justify-content: center;
    display: grid;
    grid-template-columns: 150px 150px;
  }
  
  &__icon {
    font-size: larger;
    padding: 10px;
  }

  &__skill {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 760px) {
  .about {
    &__text {
      width: 50%;
    }
  }
}

.contact {
  position: relative;
  text-align: center;

  &__wave-container {
    background-color: $color-sand;
    position: relative;
  }
  
  &__wave-img {
    display: block;
    width: 100%
  }

  &__SUP-img {
    position: absolute;
    top: 15px;
    right: 50px;
  }

  &__h2 {
    padding: 20px;
  }
  
  &__text {
    background-color: $sea-blue;
  }

  &__icons {
    padding-bottom: 50px;
    padding-top: 20px;
  }

}







