@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #353839;
}

.h1 {
  font-size: 50px;
  font-family: "Comfortaa", cursive;
}

.h2 {
  font-size: 30px;
  font-family: "Comfortaa", cursive;
}

.h3 {
  font-size: 18px;
  font-family: "Comfortaa", cursive;
}

.h4 {
  font-size: 14px;
  font-family: "Comfortaa", cursive;
}

.link {
  color: #f5f5f5;
  text-decoration: none;
}
.link--icon {
  color: #353839;
}

.link:hover {
  color: #353839;
  text-decoration: none;
  transform: scale(1.2);
}

.link--icon:hover {
  color: #f5f5f5;
  transform: scale(1.2);
}

.link--codewars:hover {
  color: #353839;
}

.button {
  background-color: #ea5267;
  border-radius: 10px;
  color: #353839;
  display: inline-block;
  font-size: 20px;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.button--header {
  margin-top: 50px;
}
.button--projects {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
}

.nav--button {
  background-color: inherit;
  border: none;
  font-size: larger;
}

.projects__screenshot {
  border: 3px solid #67a8ec;
}

.nav {
  align-items: center;
  background-color: #1d61af;
  display: flex;
  height: 50px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.nav__link {
  padding-left: 10px;
  padding-right: 10px;
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
  .nav--close {
    display: none;
  }

  .header__nav--open {
    display: none;
  }
}
.header {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
}
.header__nav--open {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.header__titles {
  padding: 100px 20px 0 0;
  text-align: right;
}
.header__titles > * {
  margin-bottom: 10px;
}
.header__balloon-img {
  left: 20px;
  position: absolute;
  top: 80px;
}
.header__cloud-img {
  display: none;
}
.header__bike-img {
  bottom: 4%;
  left: 1%;
  position: absolute;
  transform: rotate(-18deg);
  width: 20%;
  z-index: 1;
}
.header__trees-img {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 100px;
}
.header__wave-img {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__wave-img {
    height: 30%;
  }
  .header__bike-img {
    bottom: 6%;
    transform: rotate(-15deg);
    width: 10%;
  }
  .header__cloud-img {
    display: inline;
    position: absolute;
  }
  .header__trees-img {
    bottom: 10%;
    width: 150px;
  }

  #cloud1 {
    top: 35px;
    right: 40%;
  }

  #cloud2 {
    top: 95px;
    right: 35%;
  }

  #cloud3 {
    top: 85px;
    right: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .header__wave-img {
    height: 30%;
  }
}
.icon {
  margin-left: 5px;
}

.projects {
  padding-bottom: 100px;
  padding-top: 50px;
  position: relative;
}
.projects * {
  text-align: center;
}
.projects__container {
  margin-bottom: 40px;
}
.projects__screenshot {
  display: block;
  margin: 30px auto 20px auto;
  height: 200px;
  width: 70%;
}
.projects__description {
  height: 70px;
  margin: 10px auto 10px auto;
  width: 70%;
}
.projects__icons {
  font-size: larger;
}
.projects__buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.projects__see-more {
  display: none;
}
.projects__road-img {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.projects__card--md {
  display: none;
}

#project2, #project3, #project4, #project5 {
  display: none;
}

@media screen and (min-width: 768px) {
  #project2, #project3, #project4, #project5 {
    display: block;
  }

  .projects {
    height: auto;
    padding-bottom: 150px;
  }
  .projects__card--md {
    display: block;
  }
  .projects__arrows {
    display: none;
  }
  .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .projects__bike-img {
    bottom: 3%;
    width: 10%;
  }
}
@media screen and (min-width: 1280px) {
  .projects__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .projects__bike-img {
    bottom: 7%;
  }
  .projects__card--md {
    display: none;
  }
  .projects__card--lg {
    display: block;
  }
}
.about {
  padding-bottom: 70px;
  text-align: center;
}
.about__h2 {
  margin-top: 50px;
}
.about__text {
  line-height: 1.8;
  margin: 10px auto 0 auto;
  width: 70%;
}
.about__icons {
  justify-content: center;
  display: grid;
  grid-template-columns: 150px 150px;
}
.about__icon {
  font-size: larger;
  padding: 10px;
}
.about__skill {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 760px) {
  .about__text {
    width: 50%;
  }
}
.contact {
  position: relative;
  text-align: center;
}
.contact__wave-container {
  background-color: rgba(250, 160, 105, 0.7);
  position: relative;
}
.contact__wave-img {
  display: block;
  width: 100%;
}
.contact__SUP-img {
  position: absolute;
  top: 15px;
  right: 50px;
}
.contact__h2 {
  padding: 20px;
}
.contact__text {
  background-color: #67a8ec;
}
.contact__icons {
  padding-bottom: 50px;
  padding-top: 20px;
}

.header {
  background: linear-gradient(#67a8ec, rgba(103, 168, 236, 0.5));
  background-repeat: no-repeat;
}

.projects {
  background: linear-gradient(#77c07a, rgba(250, 250, 250, 0.5) 95%, rgba(250, 160, 105, 0.7));
}

.about {
  background-color: rgba(250, 160, 105, 0.7);
  background-image: url(./images/footprints.png);
  background-repeat: no-repeat;
  background-position: 90% 10%;
}